.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 2s;
}

/* soluzione 1 */
.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s linear;
}

/* soluzione 2 */
.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 1s ;
}

/* soluzione 3 */
.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 1s ;
}

/* soluzione 4 */
.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 1s;
}

/* soluzione 5 */
.ex-5-square:hover {
    transform: scale(200%);
}

.ex-5-square:active {
    transform: scale(50%);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* soluzione 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-6-img {
    transition: all 0s;
}

/* soluzioni 7 */
.ex-7-img {
    transition: all 1s;
}

.ex-7-img:hover {
    filter: sepia(75%) grayscale(25%);
}

/* soluzioni 8 */
.ex-8-img {
    transition: all 1s;
}

.ex-8-img:hover {
    filter: saturate(50%) sepia(50%);
    border-radius: 15px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 1s;
}

/* soluzioni 9 */
.ex-9-img:hover {
    filter: saturate(50%) sepia(50%);
    border-radius: 15px;
    transform: scale(150%);
}

.ex-10-icon {
    font-size: 60px;
    animation: ex10 1s  linear infinite;

}

/* soluzioni 10 */
@keyframes ex10 {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

.ex-11-icon {
    font-size: 60px;
}

/* soluzioni 11 */
.ex-11-icon:hover {
    animation: ex11 2s ease-in;
}

@keyframes ex11 {
    0% {transform: rotate(0deg);}
    90% {transform: rotate(300deg);}
    100% {transform: rotate(0deg);}
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* soluzione 12 parte 1 */
.ex-12-button:hover .ex-12-top-white {
    animation: ex12-top 2s linear;
}

@keyframes ex12-top {
    0% {
        position: absolute;
        top: -10px;
        left: 10%;
    }

    50% {
        position: absolute;
        top: -10px;
        left: calc(100% - 60px);
    }
    
}

/* soluzioni 13 parte 1 */
.ex-13-button:hover .ex-13-top-white {
    animation: ex13-top 2s linear;
}

@keyframes ex13-top {
    0% {
        position: absolute;
        top: -10px;
        left: 10%;
    }

    20% {
        position: absolute;
        top: -10px;
        left: calc(100% - 30px);
    }
    
    35% {
        position: absolute;
        top: 60px;
        left: calc(100% - 30px);
    }

    65% {
        position: absolute;
        top: 60px;
        left: -30px;
    }

    80% {
        position: absolute;
        top: -10px;
        left: -30px;
    }

    100% {
        position: absolute;
        top: -10px;
        left: 10%;
    }

}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* soluzioni 12 parte 2*/

.ex-12-button:hover .ex-12-bottom-white {
    animation: ex12-bottom 2s linear;
}

@keyframes ex12-bottom {
    0% {
        position: absolute;
        bottom: -10px;
        right: 20%;
    }

    50% {
        position: absolute;
        bottom: -10px;
        right: calc(100% - 60px);
    }
    
}

/* soluzioni 13 parte 2 */
.ex-13-button:hover .ex-13-bottom-white {
    animation: ex13-bottom 2s linear;
}

@keyframes ex13-bottom {
    0% {
        position: absolute;
        bottom: -10px;
        right: 20%;
    }

    20% {
        position: absolute;
        bottom: -10px;
        right: calc(100% - 30px);
    }
    
    35% {
        position: absolute;
        bottom: 60px;
        right: calc(100% - 30px);
    }

    65% {
        position: absolute;
        bottom: 60px;
        right: -30px;
    }

    80% {
        position: absolute;
        bottom: -10px;
        right: -30px;
    }

    100% {
        position: absolute;
        bottom: -10px;
        right: 20%;
    }

}